POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=55432
POSTGRES_DB=finances_db
POSTGRES_USER=finances_app
POSTGRES_PASSWORD=finances_dev_password
POSTGRES_SSL_MODE=Disable

AZURITE_ACCOUNT_NAME=finovadev
AZURITE_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
BACKUP_BLOB_CONTAINER=database-backups
BACKUP_CRON="0 2 * * *"
BACKUP_RETENTION_DAYS=14

API_PORT=5153
FRONTEND_PORT=5173
